.#*
log/
.cache
static/build
run/
public/
\#*
*~
*.swp
*.swo
.DS_Store
__pycache__/
node_modules/
*.pyc
doc/_build

# These are built from templates
conf/supervisor/supervisor.conf
services/dask/supervisor.conf
conf/nginx.conf
