.#*
log/
.cache
static/build
run/
public/
\#*
*~
*.swp
*.swo
.DS_Store
__pycache__/
node_modules/
*.pyc
doc/_build

# These are built from templates
conf/supervisor/supervisor.conf
services/app/supervisor.conf
services/fake_oauth2/supervisor.conf
services/rspack/supervisor.conf
services/nginx/nginx.conf
conf/nginx.conf
