repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # v6.0.0
    hooks:
      # Sanity checks
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      # Checks based on file type
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      # Detect mistakes
      - id: debug-statements
      - id: detect-private-key
      - id: forbid-submodules
      # Automatic fixes
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: f0fe93c067104b76ffb58852abe79673a8429bd1 # frozen: v0.11.8
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes", "--exit-non-zero-on-fix"]
      - id: ruff-format

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: 787fb9f542b140ba0b2aced38e6a3e68021647a3 # v3.5.3
    hooks:
      - id: prettier
        pass_filenames: true

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: a60120d4f10a6367afaec0723c5bd6024a749d0e # v9.35.0
    hooks:
      - id: eslint
        files: \.[j]sx?$
        types: [file]
