psycopg2-binary==2.7.3.2
pyyaml
tornado==4.5.3
pyzmq
pyjwt
distributed>=1.21.1
simplejson
requests
selenium>=3.12.0
pytest
sqlalchemy
social-auth-core
social-auth-app-tornado
social-auth-storage-sqlalchemy
selenium-requests
arrow==0.13.0
