psycopg2==2.7.3.2
pyyaml
tornado
pyzmq
pyjwt
distributed>=1.17.1
simplejson
requests
selenium
pytest
sqlalchemy
social-auth-core
social-auth-app-tornado
social-auth-storage-sqlalchemy
selenium-requests
