[supervisord]
loglevel=info
logfile=log/supervisord.log
pidfile=run/supervisord.pid
nodaemon=true
childlogdir=log/sv_child

[supervisorctl]
serverurl=unix://run/supervisor.sock
username = dummy
password = dummy

[unix_http_server]
file=run/supervisor.sock
username = dummy
password = dummy

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
