{% if server.auth.debug_login %}
[program:fakeoauth2]
command=/usr/bin/env python baselayer/services/fake_oauth2/fake_oauth2.py %(ENV_FLAGS)s
environment=PYTHONPATH=".",PYTHONUNBUFFERED="1"
stdout_logfile=log/fake_oauth2.log
redirect_stderr=true
startsecs=0
# 3: the service stopped on purpose, do not restart it
exitcodes=3
{% endif %}
